In [1]:
2 + 2

4

In [2]:
print("Hello world")

Hello world

# Headline
## Sub header

normal text

*cursive* **bold**
        
- one
- two
- three

In [4]:
# this is a comment
print("someting")
#print("hello")

someting

In [5]:
name = "Lovelace"

In [6]:
print(name)

Lovelace

In [7]:
age = 73

In [8]:
size = 1.7123

In [11]:
knows_math = True
likes_gardening = False

In [12]:
type(size)

float

In [13]:
type(name)

str

In [14]:
type(age)

int

In [15]:
type(likes_gardening)

bool

In [16]:
5 + 5

10

In [17]:
5 * 5

25

In [18]:
age * 100

7300

In [19]:
name + name

'LovelaceLovelace'

In [20]:
name * 10

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [21]:
name + 10

TypeError: can only concatenate str (not "int") to str

In [22]:
name + "10"

'Lovelace10'

In [23]:
size / age

0.023456164383561642

In [24]:
size

1.7123

In [25]:
type(size)

float

In [26]:
str(size)

'1.7123'

In [27]:
type(size)

float

In [28]:
size = str(size)

In [29]:
type(size)

str

In [31]:
float(size)

1.7123

In [32]:
# Functions and methods

In [33]:
name

'Lovelace'

In [34]:
len(name)

8

In [35]:
len(size)

6

In [36]:
size

'1.7123'

In [38]:
name.upper()

'LOVELACE'

In [39]:
name.count("e")

2

In [40]:
name.replace("lace", " is everywhere")

'Love is everywhere'

In [41]:
age

73

In [42]:
len(str(age))

2

In [45]:
# Lists and Dictionaries

In [46]:
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [47]:
len(names)

4

In [48]:
names[2]

'Curie'

In [49]:
# print the data type of the lists first element

In [56]:
%who

knows_math	 likes_gardening	 name	 names

In [55]:
del(size)

In [52]:
print(type(names[0]))

<class 'str'>

In [53]:
type(names[0])

str

In [6]:
print(name)

Lovelace

In [7]:
age = 73

In [57]:
size = 1.712

In [58]:
names[-1]

'Hawking'

In [61]:
names[0:2]

['Lovelace', 'Darwin']

In [60]:
names

['Lovelace', 'Darwin', 'Curie', 'Hawking']

In [62]:
names[2:]

['Curie', 'Hawking']

In [66]:
names[-2:]

['Curie', 'Hawking']

In [67]:
authors_and_birth_years = {"Lovelace": 1882, 
                           "Darwin": 1809, 
                           "Noether": 1882}

In [68]:
authors_and_birth_years["Darwin"]

1809

In [69]:
authors_and_birth_years = {"Lovelace": 1882, 
                           "Darwin": "1809", 
                           "Noether": [1882, 1935]}

In [72]:
authors_and_birth_years["Noether"][0]

1882

In [74]:
authors_and_birth_years.keys()

dict_keys(['Lovelace', 'Darwin', 'Noether'])

In [75]:
authors_and_birth_years.values()

dict_values([1882, '1809', [1882, 1935]])

In [76]:
# for loop

In [77]:
names

['Lovelace', 'Darwin', 'Curie', 'Hawking']

In [84]:
for name in names:
    print(name + "# did awesome stuff")

Lovelace did awesome stuff
Darwin did awesome stuff
Curie did awesome stuff
Hawking did awesome stuff

In [85]:
for name in names:
    print(name, "did awesome stuff")

Lovelace did awesome stuff
Darwin did awesome stuff
Curie did awesome stuff
Hawking did awesome stuff

In [86]:
# Conditionals
temp = 20
if temp > 15:
    print("It's warm")

It's warm

In [92]:
temp = 10
if temp > 15:
    print("It's warm")

In [91]:
temp > 15

True

In [94]:
temp = 20
if temp > 15:
    print("It's warm")
else:
    print("It's cold")

It's warm

In [98]:
temps = [10, 20, 32]

if temp > 25:
    print("It's hot")
elif temp > 15:
    print("It's warm")
else:
    print("It's cold")

It's hot

In [104]:
temps = [10, 20, 32]

for temp in temps:
    if temp > 25:
        print(str(temp) + "It's hot")
    elif temp > 15:
        print(str(temp) + "It's warm")
    else:
        print(str(temp) + "It's cold")

10It's cold
20It's warm
32It's hot